<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%X{TID}] %d{ABSOLUTE} [%5p] %m [%c.%M]%n" />
		</layout>
	</appender>

  <logger name="com.skcc" additivity="false">
    <level value="TRACE" />
    <appender-ref ref="console" />
  </logger>

	<logger name="com.skcc.mcs.common.logging.tracer" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="console" />
	</logger>

<!-- 	<logger name="java.sql.Connection" additivity="false"> -->
<!-- 		<level value="DEBUG" /> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->
	
	<logger name="java.sql.Statement" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
  <!--
	<logger name="java.sql.ResultSet" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger> -->

	
	<root>
		<level value="trace" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
